html {
    background-color: #000000;
    /*#bcf3fd*/
}

@font-face {
    font-family: "RobotoMedium";
    src: url("WebFonts/roboto/Roboto-Medium.ttf")
}

.text {
    position: absolute;
    text-align: center;
    top: 20%;
    width: 99vw;
    font-size: large;
    font-family: RobotoMedium;
    color: white;
}

#homepagelogo{
    filter: invert(1);
}

.logoimage img{
    transition: all 0.2s ease-in;
}

.logoimage img:hover{
    filter: brightness();
}