html {
    background-color: #cff5fc;
}


.main {
    display: flex;
    position: fixed;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: auto;
    height: 20vh;
    width: 75vw;

}