html {
    background-color: #cff5fc;
}


.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: auto;

    width: 90vw;
    max-width: 600px;

    height: 50vh;
    padding: 1rem;

}
